/* Accountability Styling */
#insides{
  text-align: center;
}

#accTit{
  width: 90%;
  height: auto;
  max-width: 600px;
}

div.scrollmenu {
  color: black;
  text-align: center;
  overflow: auto;
  white-space: nowrap;
}

.activeLink{
  color:#ff0000;
  font-family: 'Bodoni Moda', serif;
}

.inactiveLink{
  color: black;
  font-family: 'Bodoni Moda', serif;  
}

.activeLink:hover{
  color:#d40000;
}

.inactiveLink:hover{
  color: #d40000;  
}

div.scrollmenu a {
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#admins{
  width: 120%;
  height: auto;
  max-width: 250px;
}

#alignPics{
  text-align: center;
}

@media screen and (min-width: 601px) {
  #t1TXT{
    font-size: 25px;
  }
  #t2TXT{
  font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  #t1TXT{
    font-size: 20px;
  }
  #t2TXT{
  font-size: 15px;
  }
}

#colorBlock{
  margin-top: 15%;
}

#t1TXT, #t2TXT{
  font-family: 'Bodoni Moda', serif;
}

#bigTitt{
  font-family: 'Fraunces', serif;
}


/* Popovers */

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
