
#mainTitle{
  color:black;
  font-size:150%;
  text-align: center;
  margin-top:10%;
  font-family: 'Calistoga', cursive;
}

#myDIV{
  display: none;
  color: green;
}

input{
  width: 27%;
}

#map{
margin-top: 75px;
margin-bottom: 15%;
}

#homeIcon{
  color: black;
  margin-top:0.6%;
  background-color:#fff;
}

#nameLinks{
  text-decoration: none;
  color: black;
}

#mainTitle1{
  color:black;
  font-size:500%;
  text-align: center;
  margin-top:10%;
  font-family: 'Calistoga', cursive;
}
#mainTitle2{
  color:black;
  font-size:450%;
  text-align: center;
  font-family: 'Calistoga', cursive;
}

#mainTitle3{
  color:black;
  font-size:450%;
  text-align: center;
  font-family: 'Calistoga', cursive;
}

#mainTitle4{
  color:black;
  font-size: 150%;
  text-align: center;
  font-family: 'Calistoga', cursive;
}

#mainSub{
  font-size:100%;
  text-align: center;
  margin:5%;
  font-family: 'Lora', serif;
}

#mainSub2{
  font-size:75%;
  text-align: center;
  font-family: 'Lora', serif;
}

#mainSub3{
  font-size:100%;
  text-align: center;
  font-family: 'Lora', serif;
}

#entireBody{
  font-family: 'Lora', serif;
  margin-left: 5%;
  margin-right: 5%;
}

body{
  background-color: #fff;
  text-align: center;
  

}

#subButton{
  background-color: #ff75af; /* Green */
  border: none;
  color: white;
  padding: 1% 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
}
#contList{
  Background-color: rgba(255, 255, 255, 0);
  margin-right: 4%;
  margin-left: 4%;
}

#linky{
text-align: center;
font-family: 'Lora', serif;
color: black;
}

#linky4{
text-align: center;
font-family: 'Lora', serif;
color: white;
font-size: 200%;
}

#linky2{
  text-decoration: underline;
  color: black;
  font-family: 'Lora', serif;
}

#links{
text-align: center;
margin: 2%;
}

#states{
text-align:center;
color:#ff75af;
font-family: 'Lora', serif;
}

#linkyLarger{
font-size: 120%;
text-align:center;
margin: 2%;
font-family: 'Lora', serif;
}

#linkyLarger2{
text-align:center;
font-family: 'Lora', serif;
}

#callInfo{
  margin: 2%;
  text-align:center;
  font-size: 140%;
}

#ickyCaros{
  text-align: center;
  width: 70%;
  height: auto;
  margin-left: 15%;
}

#aboutBlurb{
margin: 5%;
font-family: 'Lora', serif;
font-size: 150%;
}