
#mainTitle{
  color:black;
  font-size:150%;
  text-align: center;
  margin-top:10%;
  font-family: 'Calistoga', cursive;
}

#nameLinks{
  text-decoration: none;
}

#mainTitle1{
  color:black;
  font-size:500%;
  text-align: center;
  margin-top:10%;
  font-family: 'Calistoga', cursive;
}
#mainTitle2{
  color:black;
  font-size:450%;
  text-align: center;
  font-family: 'Calistoga', cursive;
}

#mainTitle3{
  color:#6568E6;
  font-size:450%;
  text-align: center;
  font-family: 'Lora', serif;
}

#mainSub{
  font-size:100%;
  text-align: center;
  margin:5%;
  font-family: 'Lora', serif;
}

#mainSub2{
  font-size:75%;
  text-align: center;
  font-family: 'Lora', serif;
}

#entireBody{
  font-family: 'Lora', serif;
}

body{
  background-color: #fff;
  text-align: center;
  

}

#links{
text-align: center;
margin: 2%;
}

#states{
text-align:center;
color:#6568E6;
font-family: 'Lora', serif;
}

#linkyLarger{
font-size: 150%;
text-align:center;
margin: 2%;
}

#callInfo{
  margin: 2%;
  text-align:center;
  font-size: 140%;
}