

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #585123;
  border-radius: 12px;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li #here {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Signika', sans-serif; 
}

li #here:hover {
  background-color: #f58549;
}

@media screen and (min-width: 601px) {
  li, #here  {
    font-size: 100%;
  }
  #specNav{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
  }
}

@media screen and (max-width: 600px) {
  li #here {
    font-size: 50%;
  }
  #specNav{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 10%;
  }
}
